<ion-header>
  <ion-toolbar>
    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title" color="azulneon">¿Qué deseas lavar?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scroll">
    <ion-label>{{this.lavanderia.nombre}}</ion-label>
    <ion-list *ngFor="let listPrendas of listaPrenda; let i = index">
      <!--*ngFor="let listPrendas of prendas; let i = index"-->
      <ion-item style="align-items: center;">
        <ion-label style="position: relative; margin-left: 1em; height:auto;">
          {{listPrendas.data.prenda_nombre}}
        </ion-label>
        <!--<ion-checkbox ng-change="asignarCantidad(true)" class="check" color="verde-neon" slot="start"></ion-checkbox>-->
        <ion-button color="medium" style="margin-left: 2em; border-radius: 2%"
          (click)="asignarCantidad('-',listPrendas.canti, i)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <input class="inp-canti" [value]="listPrendas.canti">
        <!--[(ngModel)]="this.cantidadPrenda">-->
        <ion-button color="medium" style="position: relative; border-radius: 2%;margin-right:1em;"
          (click)="asignarCantidad('+',listPrendas.canti, i)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-toolbar color="medium"></ion-toolbar>

  </div>
</ion-content>
