<ion-header>
  <ion-toolbar>
    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title" color="azulneon">¿Qué deseas lavar?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scroll">
    <ion-label>{{this.lavanderia.nombre}}</ion-label>
    <ion-list *ngFor="let listPrendas of array_servicio_prenda; let i = index">
      <!--*ngFor="let listPrendas of prendas; let i = index"-->
      <ion-item style="align-items: center;">
        <ion-label class="lbl-nombre">
          {{listPrendas.prenda_nombre}}
        </ion-label>
        <ion-label class="lbl-total">
          {{listPrendas.total}} Gs
        </ion-label>
        <ion-button color="medium" class="btn-restar" (click)="asignarCantidad('-',listPrendas.cantidad, i)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <input class="inp-canti" [value]="listPrendas.cantidad">
        <!--[(ngModel)]="this.cantidadPrenda">-->
        <ion-button color="medium" class="btn-sumar" (click)="asignarCantidad('+',listPrendas.cantidad, i)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <button fill="outline" class="btn-quitar" color="none" (click)="quitarPrenda(listPrendas.id_prenda)">
          <ion-icon class="icon-quitar" size="large" name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="tool-pie" color="verde-neon">
    <ion-label>Total: {{totalGeneral}}</ion-label>
    <ion-button class="btn-confirmar" (click)="guardarServicio()">Confirmar</ion-button>
    <ion-button>Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>
