<ion-header>
  <ion-toolbar>
    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title" color="primary"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cabecera">
    <ion-button color="none" class="btn-perfil">
      <ion-thumbnail class="foto-empresa">
        <img class="foto" [src]=this.usuario.urlFoto>
      </ion-thumbnail>
    </ion-button>
  </div>
  <div class="div-datos">
    <ion-label class="lbl-nombre">{{this.usuario.nombre}}</ion-label>
  </div>
</ion-content>

<!--<ion-button color="none" class="btn-perfil" (click)="goToAmpliarImagen()">
  <ion-avatar class="avatar-perfil">
    <!--<img src="../../assets/icon/imagePlaceholder.jpg">
    <img [src]="usuario.urlFoto">
  </ion-avatar>
</ion-button>-->
