.title {
  //--background: #3880ff;
  position: absolute;
  top: 1em;
  left: 1.5em;
  margin: auto;
}

.cabecera {
  position: relative;
  width: 100%;
  height: 14em;
  background-color: #231285;
  text-align: center;
  top: 0em;
}


.lbl-nombre {
  position: relative;
  top: 2%;
  font-size: large;
  left: 2em;
}

.check {
  border-radius: 2%;
  border-color: #063852;
}

.inp-canti {
  position: relative;
  width: 23px;
  height: 23px;
  border: 2px solid #063852;
  text-align: center;
}
