.title {
  --background: #3880ff;
  position: absolute;
  top: 1em;
  left: 1.5em;
  margin: auto;
}

.cabecera {
  position: relative;
  width: 100%;
  height: 14em;
  background-color: #231285;
  text-align: center;
  top: 0em;
}

.foto-empresa {
  margin-top: 1em;
  --ion-background-color: transparent !important;
  box-shadow: none;
  text-align: center;
  height: 13em;
  width: 14em;
  margin: auto;
  border: 4px solid #6e600a;
  border-radius: 10%;
}

.foto {
  border-radius: 10%;
}

.btn-perfil {
  position: relative;
  width: auto;
  height: 100%;
  border-radius: 50%;
  outline: none;
  border: none;
  display: block;
  margin: auto;
}

.lbl-nombre {
  position: relative;
  top: 2%;
  font-size: large;
  left: 2em;
}

.div-datos {
  position: relative;
}
