<ion-header>
  <ion-toolbar>
    <ion-avatar class="iconLaundry">
      <img src="assets/icon/iconLaundrySinNombre.png">
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <button class="btn-editar" color="none" (click)="editarDatos()">{{this.txtBtn}}</button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen] style="margin:auto;">

  <div class="container">
    <ion-button color="none" class="btn-perfil" (click)="goToAmpliarImagen()">
      <ion-avatar class="avatar-perfil">
        <!--<img src="../../assets/icon/imagePlaceholder.jpg">-->
        <img [src]="usuario.urlFoto">
      </ion-avatar>
    </ion-button>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-input #inpNombre [readonly]="this.readOnly" value={{usuario.nombre}} [(ngModel)]="usuario.nombre">
        </ion-input>
        <!--<button class="botones" id="guardar" color="none"> Guardar</button>-->
      </ion-card-title>

      <ion-card-subtitle class="card-subtitulo">
        <ion-input [readonly]="this.readOnly" value={{usuario.direccion}} [(ngModel)]="usuario.direccion"></ion-input>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="card-content">
      <ion-item lines="none">
        <ion-icon class="icons" name="mail"></ion-icon>
        <ion-input class="inpEmail" readonly="true">{{usuario.email}}</ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="call"></ion-icon>
        <ion-input [readonly]="this.readOnly" value={{usuario.celular}} [(ngModel)]="usuario.celular"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <ion-input [readonly]="this.readOnly" value={{usuario.ci_ruc}} [(ngModel)]="usuario.ci_ruc">&nbsp;</ion-input>
      </ion-item>
      <ion-item lines="none">
        <button class="botones" id="logout" color="none" (click)="logout()">Cerrar Sesión
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>