<ion-header>
  <ion-toolbar>
    <ion-avatar style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] style="margin:auto;">

  <div class="container">
    <ion-button color="none" class="btn-perfil" routerLink="/ampliar-imagen" routerDirection="forward">
      <ion-avatar class="avatar-perfil">
        <!--<img src="../../assets/icon/imagePlaceholder.jpg">-->
        <img [src]="usuUrlFoto">
      </ion-avatar>
    </ion-button>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{usuNombre}}
      </ion-card-title>
      <ion-card-subtitle style="color: antiquewhite;">
        {{usuDireccion}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="mail"></ion-icon>
        <ion-label>{{usuEmail}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="call"></ion-icon>
        <ion-label>{{usuCelular}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="locate"></ion-icon>
        <ion-label>Ciudad del usuario</ion-label>
      </ion-item>
      <ion-item>
        <ion-button class="btn-logout" color="none" (click)="logout()">Cerrar Sesión
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
