.btn-logout {
  font-family: Helvetica, sans-serif;
  color: #fff !important;
  font-size: 18px;
  font-weight: 400;
  background: #0749ac;
  border: 2px solid;
  border-color: #0749ac;
  position: absolute;
  top: 30%;
  left: 12%;
  border-radius: 6%;
  letter-spacing: 0.05em;
}

.btn-logout:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(1, 115, 150, 0.432);
  transition: all 1s ease;
}

.btn-logout:hover:before {
  width: 100%;
}

.img-perfil {
  margin: 0 auto;
  position: relative;
  top: 5%;
  background-position: center center;
  background-size: cover;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}

/*.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .contenedor-formulario {
    width: 400px;
  }

  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;

    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }

  .avatar-perfil {
    margin: 0 auto;
    top: 0%;
    background-position: center center;
    size: 30%;
    background-size: cover;
    position: relative;
  }
}*/
