ion-content {
  --ion-background-color: #F1F1F2;
}

ion-header {
  --ion-background-color: #063852;
}

ion-title {
  top: 29%;
  position: absolute;
  color: #c7c2c2;
  left: 2em;
}

ion-menu-button {
  color: #c7c2c2;
}

.btn-editar {
  background-color: #063852;
  color: #c7c2c2;
  position: absolute;
  left: 47%;
  top: 0.7em;
  padding: 2%;
  //margin: 0%;
  outline: none;
  font-size: larger;
  border-radius: 3%;
}

.btn-editar:active {
  background-color: #052c41;
}

.container {
  position: relative;
  width: 100%;
  height: 12em;
  background-color: #063852;
  text-align: center;
  top: 0em;
}

card-subtitulo {
  background-color: #4C3F54;
}

.avatar-perfil {
  height: 10em;
  width: 10em;
  margin: auto;
  border: 4px solid #6e600a;
}

.avatar-perfil {
  margin-top: 1em;
  --ion-background-color: transparent !important;
  box-shadow: none;
  text-align: center;
}

#guardar {
  position: absolute;
  right: 0.5em;
  top: 0%;
}

#logout {
  text-align: center;
  position: relative;
  background-position: center center;
  left: 3em;
}

.card-content {
  padding: 0%;
}

.icons {
  position: absolute;
  left: 0%;
}

.inpEmail {
  text-align: center;
  background-position: center center;
  left: 2em;

}

ion-item {
  --ion-item-background: #eeeeee;
  text-align: center;
  color: #283644;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  height: 2.6em;
  --min-height: 2.6em;
  margin-bottom: 1em;
}

ion-label {
  text-align: center;
  //padding: 0%;
  //margin: 0%;
}

.btn-perfil {
  position: relative;
  width: auto;
  height: 100%;
  border-radius: 50%;
  outline: none;
  border: none;
  display: block;
  margin: auto;
}
