<ion-header>
  <ion-toolbar>
    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen] style="margin:auto;">
  <!--<ion-img class="avatar-perfil"></ion-img>
  <form name="subir-imagen" type="POST" enctype="multipart/formdata">
    <ion-input type="file" name="imagen"></ion-input>
  </form>
  <ion-input type="submit" name="subir-imagen">Guardar Imagen</ion-input>-->

  <ion-button color="none" style="position: relative; top: 5%;">
    <ion-img class="img-perfil">
    </ion-img>
  </ion-button>


  <ion-button class="btn-logout" color="none" (click)="logout()">Cerrar Sesión
  </ion-button>
</ion-content>
