ion-content {
  --ion-background-color: #3e6777;
}

ion-toolbar {
  --ion-background-color: #3e6777;
  --opacity: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #232641;
}

.overlay {
  position: relative;
  text-align: center;
  top: 60%;
}

ion-avatar {
  height: 5em;
  width: 5em;
  margin: auto;
  border: 4px solid #6e600a;
}

ion-card {
  margin-top: 1em;
  --ion-background-color: transparent !important;
  box-shadow: none;
  text-align: center;
}

ion-item {
  --ion-item-background: #536c77;
  text-align: center;
  color: #c2c3c4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  height: 3em;
  --min-height:3em;
  margin-bottom: 2em;
}

ion-label {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.btn-logout {
  font-family: Helvetica, sans-serif;
  color: #fff !important;
  font-size: 18px;
  font-weight: 400;
  background: #0749ac;
  border: 2px solid;
  border-color: #0749ac;
  position: absolute;
  top: 30%;
  left: 12%;
  border-radius: 6%;
  letter-spacing: 0.05em;
}

.btn-logout:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(1, 115, 150, 0.432);
  transition: all 1s ease;
}

.btn-logout:hover:before {
  width: 100%;
}

.img-perfil {
  margin: 0 auto;
  position: relative;
  top: 5%;
  background-position: center center;
  background-size: cover;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}
