ion-content {
  --ion-background-color: #979696;
}

.containerWrap {
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.btn-file {
  //size: 5em;
  width: 9em;
  height: 2em;
  //--background: #444444;
  //background: url('../../assets/img/fondohome.jpg');
  background-position: center center;
  //border-radius: 50%;
  background-color: #228192;
}

.file {
  color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
