.card {
  width: 0em;
  position: relative;
  background-position: center center;
  background-size: cover;
}

/*.card-body {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.form-group {
  position: relative;
  top: 5%;
  background-position: center center;
  background-size: cover;
}*/
