<ion-header>
  <ion-toolbar>
    <ion-avatar class="iconLaundry" id="logo">
      <img src="assets/icon/iconLaundrySinNombre.png">
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulos">Laundry App</ion-title>
    <ion-button (click)="btnUsuario()" class="btn-login" color="none">
      <ion-icon size="large" name="person-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <ion-list class="lista">

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail>
          <img src="assets/img/ima_1.jpg">
        </ion-thumbnail>
        <ion-label>&nbsp;Lavandería 2 Hermanos</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!--<ion-item-option (click)="unread(item)">Unread</ion-item-option> **línea comentada**
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail>
          <img src="assets/img/ima_2.jfif">
        </ion-thumbnail>
        <ion-label>&nbsp;Lavandería Los Cafres</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!--<ion-item-option (click)="unread(item)">Unread</ion-item-option> **línea comentada**
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail>
          <img src="assets/img/ima_3.jfif">
        </ion-thumbnail>
        <ion-label>&nbsp;Lavandería Las Marías</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!--<ion-item-option (click)="unread(item)">Unread</ion-item-option> **línea comentada**
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>-->

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let listLavanderias of arrayLavanderias">
    <ion-item button>
      <ion-grid>
        <ion-row>
          <ion-thumbnail>
            <img [src]=listLavanderias.data.urlFoto>
          </ion-thumbnail>
          <ion-label>{{ listLavanderias.data.nombre }}</ion-label>
          <ion-label class="direccion">
            {{ listLavanderias.data.direccion }}
          </ion-label>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

<!--routerLink="/perfil-empresa" routerDirection="forward"-->
