<ion-header>
  <ion-toolbar>
    <ion-thumbnail style="position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulos">Laundry App</ion-title>
    <ion-button (click)="btnUsuario()" class="btn-login" color="none">
      <ion-icon size="large" name="person-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="lista">

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail>
          <img src="assets/img/ima_1.jpg">
        </ion-thumbnail>
        <ion-label>&nbsp;Lavandería 2 Hermanos</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!--<ion-item-option (click)="unread(item)">Unread</ion-item-option>-->
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail>
          <img src="assets/img/ima_2.jfif">
        </ion-thumbnail>
        <ion-label>&nbsp;Lavandería Los Cafres</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!--<ion-item-option (click)="unread(item)">Unread</ion-item-option>-->
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail>
          <img src="assets/img/ima_3.jfif">
        </ion-thumbnail>
        <ion-label>&nbsp;Lavandería Las Marías</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <!--<ion-item-option (click)="unread(item)">Unread</ion-item-option>-->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button routerLink="/imagen-prueba" routerDirection="forward">Ir a Imagen prueba</ion-button>
</ion-content>