ion-title {
  color: rgb(16, 95, 185);
  position: absolute;
  left: 10%;
  top: 30%
}

#logo {
  position: absolute;
  right: 0em;
}

.btn-login {
  background-color: "none";
  position: absolute;
  left: 60%;
  top: 12%;
  width: 50px;
  border-radius: 100%;
  text-size-adjust: 10%;
}

ion-icon {
  color: black;
  width: 50px;
}

.lista ion-label {
  position: relative;
  margin: 0 auto;
  background-size: cover;
  top: 0%;
  color: rgb(1, 115, 150);
  left: 1em;
  font-size: 16px;
  font-weight: 3px;
  size: auto;
}

.lista img {
  position: relative;
  margin: 0 auto;
  background-size: cover;
  left: 0%;
  width: 74px;
  max-width: 80px;
  margin: 0 auto;
  size: auto;
}