ion-title {
  color: rgb(16, 95, 185);
}

.alert-login {
  position: absolute;
  top: 30%;
  left: 20%;
  text-align: center;
  background-position: center center;
}

.div {
  position: relative;
  background-position: center center;
  text-align: center;
}

.lbl-recup-sena {
  background-position: center center;
  position: relative;
  top: 6em;
  text-align: center;
}

#btn-acceder {
  position: relative;
  text-align: center;
  background-position: center center;
  top: 2em;
  left: 0em;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: block;
}

#btn-registro {
  position: relative;
  text-align: center;
  background-position: center center;
  top: 10em;
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  box-shadow: inset 0px 0px 15px 3px #009688;
  background: linear-gradient(to bottom, #009688 5%, #004b69 100%);
  background-color: #41a6ca;
  border-radius: 10px;
  border: 1px solid #009688;
  display: block;
  cursor: pointer;
  color: #d6d5d5;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  left: 0em;
  margin: 0 auto;
}

#btn-registro:hover {
  background: linear-gradient(to bottom, #004b69 5%, #009688 100%);
  background-color: #415989;
}
