ion-title {
  text-align: center;
}

/*.ion-alert {

}*/

.icono {
  --ion-background-color: transparent !important;
  box-shadow: none;
  text-align: center;
  align-items: center;
  height: 13em;
  width: 14em;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

.item {
  text-align: center;
  border: #004b69 solid 3px;
  border-radius: 3em;
}

.div {
  position: relative;
  background-position: center center;
  text-align: center;
  align-items: center;
  top: 0%;
}

.div-label {
  position: relative;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  height: 5em;
  align-items: center;
  text-align: center;
}

.bloque-label {
  position: relative;
  background-position: center center;
  text-align: center;
  align-items: center;
  width: 8em;
  height: 8em;
  margin-top: 0.5em;
}

.lbl-recup-sena {
  background-position: center center;
  position: relative;
  top: 1em;
  text-align: center;
  font-size: medium;
}

.div-boton {
  text-align: center;
  align-items: center;
  margin-top: 1em;
}

#btn-registro {
  position: relative;
  text-align: center;
  background-position: center center;
  top: 1em;
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  //box-shadow: inset 0px 0px 15px 3px #009688;
  //background: linear-gradient(to bottom, #009688 5%, #004b69 100%);
  border-radius: 10px;
  color: #d6d5d5;
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  margin: 0 auto;
}

.input {
  text-align: left;
  margin-left: 1em;
}
