<ion-header>
  <ion-toolbar>
    <ion-title>Valide su cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divImg">
    <img class="infoImg" src="../../assets/icon/infoIcon.PNG">
    <div class="divTexto">
      <ion-label class="texto">
        Para poder registrar un servicio debe de validar su correo
        a fin de certificar que sea un correo válido!
      </ion-label>
    </div>
    <ion-button class="botones" color="none" id="btnReenviar" (click)="reenviarCorreo()">Reenviar correo</ion-button>
    <a class="lbl-mensaje" href="/lavanderias">Hacerlo más tarde</a>
  </div>
</ion-content>
