<ion-header>
  <ion-button defaultHref="editar-perfil" color="none" routerLink="/editar-perfil" routerDirection="forward">
    <!--class="btn-back"-->
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
  <ion-title>{{usuario.nombre}}</ion-title>
</ion-header>

<ion-content class="contenedorCentral">
  <div>
    <div class="divFoto">
      <img [src]="usuario.urlFoto">
    </div>
  </div>
  <ion-item class="item">
    <ion-button color="none" class="btn-eliminar" (click)="eliminarFoto()">Eliminar Perfil</ion-button>
    <ion-button color="none" class="btn-editar">Editar Perfil
      <input class="file" type="file" (change)="subirImagenAlFirebase($event)" id="file-input"
        accept="image/png, image/jpg">
    </ion-button>
  </ion-item>
</ion-content>
