.head {
  background-color: #000000;
}

/*ion-header {
  --ion-background-color: #000000;
  height: 5em;
}*/

.btn-back {
  text-align: left;
  position: relative;
  top: 2em;
  left: 0%;
  border-radius: 70%;
}

ion-icon {
  width: 1.5em;
  height: 1.5em;
}

ion-title {
  color: rgb(218, 214, 210);
  position: relative;
  text-align: center;
  top: 0%;
  height: auto;
  margin-bottom: 1em;
}

.contenedorCentral {
  --ion-background-color: #000000;
  position: relative;
  width: 100%;
  height: auto;
}

.divFoto {
  position: relative;
  //align-items: center;
  top: 4em;
  //text-align: center;
  //background: url(´usuario.urlFoto´);
  height: 100%;
  max-width: 100%;
  text-align: center;
  display: block;
  align-items: center;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}

.foto {
  width: auto;
}

.item {
  position: relative;
  margin-top: 2em;
  height: 6em;
}

.btn-eliminar {
  width: 9.1em;
  height: 3em;
  position: absolute;
  top: 0%;
  margin: 1em;
  left: 0%;
  color: #aaaaaa;
  background-color: #272727;
  border-radius: 1em;
}

.btn-editar {
  width: 9.1em;
  height: 3em;
  position: absolute;
  top: 0%;
  right: 5%;
  margin: 1em;
  color: #aaaaaa;
  background-color: #272727;
  border-radius: 1em;
}

.file {
  color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
