<ion-header>
  <ion-back-button defaultHref="editar-perfil" color="white">
    <!--class="btn-back"-->
    <!--<ion-icon name="arrow-back-circle-outline"></ion-icon>-->
  </ion-back-button>
  <ion-title>Nombre de Usuario</ion-title>
</ion-header>

<ion-content class="contenedorCentral">
  <div>
    <div class="divFoto">
      <img src="../../assets/icon/imagePlaceholder.jpg">
    </div>
  </div>
  <ion-item class="item">
    <ion-button color="none" class="btn-eliminar">Eliminar Perfil</ion-button>
    <ion-button color="none" class="btn-editar">Editar Perfil
      <input class="file" type="file" (change)="subirImagenAlFirebase($event)" id="file-input"
        accept="image/png, image/jpg">
    </ion-button>
  </ion-item>
</ion-content>
