<ion-header>
  <ion-toolbar>

    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 75px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-button class="btn-back" color="none" routerLink="/login" routerDirection="forward">
        <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="azulneon" style="position: absolute; left:11%; top:35%">¿Olvidó su seña?</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="lbl_info" color="azulneon">Cambiar contraseña por correo</ion-label>

  <div class="div-label">
    <ion-item class="item">
      <ion-label position="floating" style="size:large;">Email</ion-label>
      <ion-input style="text-align: left; margin-left: 1em;" type="email" placeholder="ejemplo@gmail.com"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>
  </div>

  <div class="div-boton">
    <ion-button id="btn-enviar" color="azulneon" (click)="recover()" routerDirection="forward">Enviar
    </ion-button>

  </div>
</ion-content>
