.lbl_info {
  position: relative;
  background-position: center center;
  margin-top: 8em;
  left: 0em;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: large;
}

.btn-back {
  position: relative;
}

.alert-recupsena {
  position: absolute;
  top: 30%;
  left: 20%;
}

.div-label {
  position: relative;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  height: 5em;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

.item {
  text-align: center;
  border: #004b69 solid 3px;
  border-radius: 3em;
}

.div-boton {
  text-align: center;
  align-items: center;
  margin-top: 1em;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
}

#btn-enviar {
  position: relative;
  margin-top: 3em;
  left: 0em;
  background-position: center center;
  text-align: center;
  display: block;
  align-items: center;
  //margin: 0 auto;
  /*border-radius: 6%;
  letter-spacing: 0.05em;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.89) !important;
  font-size: 19px;
  font-weight: 400;
  background: #135ac5;
  border-color: #084eb8;
  background: linear-gradient(145deg, #5161f8c7, #014ab8);
  box-shadow: 6px 6px 20px -1px #dcdde7,
    -6px -6px 20px -1px #e3e4f0;*/
}

/*.btn-enviar:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(1, 115, 150, 0.432);
  transition: all 1s ease;
}

.btn-enviar:hover:before {
  width: 100%;
}*/
