<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <br><br><br><br>
          <ion-thumbnail style=" position: absolute; left:5%; top:0%; width: 110px; height: 100px;">
            <img src="assets/icon/iconlaundryapp.png">
          </ion-thumbnail>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="lavanderias" lines="none" detail="false">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>&nbsp;Lavanderías</ion-label>
            </ion-item>
            <ion-item button (click)="validarUsuario()" lines="none" detail="false">
              <ion-icon name="list-outline"></ion-icon>
              <ion-label>&nbsp;Servicios</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="registro" lines="none" detail="false">
              <ion-icon name="person-add"></ion-icon>
              <ion-label>&nbsp;Regístrate</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
