<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-thumbnail class="iconLaundry">
            <img src="assets/icon/iconlaundryapp.png">
          </ion-thumbnail>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="lavanderias" detail="false">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>&nbsp;Lavanderías</ion-label>
            </ion-item>
            <ion-item button (click)="validarUsuario('servicio')" detail="false">
              <ion-icon name="list-outline"></ion-icon>
              <ion-label>&nbsp;Servicios</ion-label>
            </ion-item>
            <ion-item button (click)="validarUsuario('perfil')" detail="false">
              <ion-icon name="person-add"></ion-icon>
              <ion-label>&nbsp;Editar Perfil</ion-label>
            </ion-item>
            <ion-item routerDirection="root" detail="false">
              <ion-icon name="information-circle-outline"></ion-icon>
              <ion-label>&nbsp;Acerca de la app</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
