ion-title {
  color: rgb(16, 95, 185);
}

.div {
  position: relative;
  margin: 0.5em;
}

.empresa {
  position: relative;
  top: 1em;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

.total {
  position: relative;
  top: 0.52em;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

.item {
  width: 100%;
  height: auto;
  padding: 0%;
  margin: 0%;
}
