<ion-header>
  <ion-toolbar>
    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="position: absolute; right:21%; top:88%;">
    <ion-label color="primary">Solicitar un Servicio</ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
