#btn-usuario {
  margin-top: 2em;
}

#btn-empresa {}

.mensaje {
  position: relative;
  background-position: center center;
  left: 0em;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: large;

}
