/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.iconLaundry {
  position: absolute;
  right: 0.5em;
  top: 0%;
  width: 3.5em;
  height: 3.5em;
}

.scroll {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: auto;
  scroll-width: none; //Para Firefox
}

.scroll::-webkit-scrollbar {
  width: 0;
}


.botones {
  box-shadow: inset 0px 0px 15px 3px #01295e;
  background: linear-gradient(to bottom, #4596b3 5%, #415989 100%);
  background-color: #41a6ca;
  border-radius: 17px;
  border: 1px solid #31244e;
  display: inline-block;
  cursor: pointer;
  color: #d6d5d5;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.botones:hover {
  background: linear-gradient(to bottom, #415989 5%, #4596b3 100%);
  background-color: #415989;
}

/*::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}*/

.ion-alert {
  //color-scheme: rgba(0, 195, 255, 0.664);
  position: absolute;
  //margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-position: center center;
  background-color: none;

  .alert-wrapper {
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(247, 247, 247);
    align-items: center;
    text-align: center;

    .alert-head {
      align-items: center;
      text-align: center;

      h2 {
        color: #063852;
      }
    }
  }
}

.div-boton {
  text-align: center;
  align-items: center;
  margin-top: 1em;
}

.boton-azul {
  position: relative;
  text-align: center;
  background-position: center center;
  top: 4%;
  border-radius: 10px;
  justify-content: center;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
}

.scroll-content {
  overflow: hidden;
}

.ion-color-azulneon {
  --ion-color-base: var(--ion-color-azulneon);
  --ion-color-base-rgb: var(--ion-color-azulneon-rgb);
  --ion-color-contrast: var(--ion-color-azulneon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azulneon-contrast-rgb);
  --ion-color-shade: var(--ion-color-azulneon-shade);
  --ion-color-tint: var(--ion-color-azulneon-tint);
}

.ion-color-verde-neon {
  --ion-color-base: var(--ion-color-verde-neon);
  --ion-color-base-rgb: var(--ion-color-verde-neon-rgb);
  --ion-color-contrast: var(--ion-color-verde-neon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verde-neon-contrast-rgb);
  --ion-color-shade: var(--ion-color-verde-neon-shade);
  --ion-color-tint: var(--ion-color-verde-neon-tint);
}
