.fondo {
  background: url('../../assets/img/fondohome.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  text-align: center;
  //position: relative;
  //display: inline-block;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  //transition: all 1s;
}

div {
  animation-duration: 1s;
  animation-name: inicio;
}

@keyframes inicio {
  from {
    filter: blur(4px);
  }

  to {
    filter: blur(4px);

  }
}

.logo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  left: 0em;
  top: 45%;
  width: 10em;
  height: 6em;
  border-radius: 15%;
  background-position: center center;
  margin: 0 auto;
  display: block;
  size: 500px;
}

.lbl_text {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position: relative;
  background-position: center center;
  margin: 0 auto;
  left: 0em;
  top: 25%;
  color: rgb(0, 42, 156);
  font-size: 40px;
  font-weight: bold;
}

.body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
