.div-label {
  position: relative;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  height: auto;
  align-items: center;
  text-align: center;
}

.item {
  text-align: center;
  border: #004b69 solid 3px;
  border-radius: 3em;
  height: auto;
}

.div {
  position: relative;
  background-position: center center;
  text-align: center;
  align-items: center;
  top: 0%;
  margin-bottom: 0.5em;
}

.div-boton {
  text-align: center;
  align-items: center;
  margin-top: 1em;
}

#btn-registrar {
  background-position: center center;
  text-align: center;
  position: relative;
  left: 0em;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: block;
}

.lbl-mensaje {
  position: relative;
  background-position: center center;
  text-align: center;
  left: 0em;
  display: block;
  align-items: center;
  margin: 0 auto;
}

#lbl-negocio {
  position: relative;
  top: auto;
  color: rgb(1, 150, 138);
}
