<ion-header>
  <ion-toolbar>
    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input autofocus="true" [(ngModel)]="usuario.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Dirección</ion-label>
    <ion-input [(ngModel)]="usuario.direccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">CI/RUC</ion-label>
    <ion-input [(ngModel)]="usuario.ci_ruc"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.clave"></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="stacked">Confirmar seña</ion-label>
    <ion-input type="password" [(ngModel)]="controlClave"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <button class="botones" id="btn-registrar" color="none" (click)="signup()" type="reset">Registrar
    </button>
  </ion-item>

  <ion-item lines="none">
    <a class="lbl-mensaje" href="/login">¿Ya tienes un usuario?</a>
  </ion-item>

</ion-content>
