.div-label {
  position: relative;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  height: auto;
  align-items: center;
  text-align: center;
}

#fondo {
  //background: url('../../assets/img/fondo_registro.jpg');
  //opacity: 0.4;
  //filter: alpha(opacity=40);
}

#img {
  position: absolute;
  display: inline-block;
  //
}

.item {
  text-align: left;
  border: #004b69 solid 3px;
  border-radius: 1em;
  height: 3.3em;
  margin-left: 1em;
  margin-right: 1em;
}

.div {
  position: relative;
  background-position: center center;
  text-align: center;
  align-items: center;
  top: 0%;
  margin-bottom: 0.5em;
}


.lbl-mensaje {
  position: relative;
  background-position: center center;
  text-align: center;
  left: 0em;
  display: block;
  align-items: center;
  margin: 0 auto;
  font-size: large;
  margin-top: 1em;
}

#lbl-negocio {
  position: relative;
  top: auto;
  color: rgb(1, 150, 138);
  margin-bottom: 1em;
}
