<ion-header>
  <ion-toolbar>
    <ion-thumbnail style=" position: absolute; left:75%; top:0%; width: 80px; height: 75px;">
      <img src="assets/icon/iconlaundryapp.png">
    </ion-thumbnail>
    <ion-buttons slot="start">
      <ion-menu-button color="azulneon"></ion-menu-button>
    </ion-buttons>
    <ion-title color="azulneon">Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="fondo" class="scroll">
    <!--<img id="img" src="../../assets/img/fondo_registro.jpg"-->
    <div style="position:relative; display:inline-block"></div>
    <div class="div-label" *ngIf="esEmpresa">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">Nombre de empresa</ion-label>
        <ion-input #inpNombre [(ngModel)]="usuario.nombre" required="true" placeholder="Nombre de tu negocio">
        </ion-input>
      </ion-item>
    </div>

    <div class="div-label" *ngIf="!esEmpresa">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">Nombre</ion-label>
        <ion-input #inpNombre [(ngModel)]="usuario.nombre" required="true" placeholder="Nombre y apellido">
        </ion-input>
      </ion-item>
    </div>

    <div class="div-label">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">Dirección</ion-label>
        <ion-input [(ngModel)]="usuario.direccion" required="true" placeholder="Ciudad, Barrio"></ion-input>
      </ion-item>
    </div>

    <div class="div-label" *ngIf="esEmpresa">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">RUC</ion-label>
        <ion-input [(ngModel)]="usuario.ci_ruc" required="true"></ion-input>
      </ion-item>
    </div>

    <div class="div-label" *ngIf="!esEmpresa">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">CI o RUC</ion-label>
        <ion-input [(ngModel)]="usuario.ci_ruc" required="true"></ion-input>
      </ion-item>
    </div>

    <div class="div-label" *ngIf="esEmpresa">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">Número del Negocio</ion-label>
        <ion-input [(ngModel)]="usuario.celular" required="true"></ion-input>
      </ion-item>
    </div>

    <div class="div-label" *ngIf="!esEmpresa">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">Nº Celular</ion-label>
        <ion-input [(ngModel)]="usuario.celular" required="true"></ion-input>
      </ion-item>
    </div>

    <div class="div-label">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="usuario.email" required="true" placeholder="ejemplo@gmail.com"></ion-input>
      </ion-item>
    </div>

    <div class="div-label">
      <ion-item class="item">
        <ion-label color="azulneon" position="stacked">Contraseña</ion-label>
        <ion-input #inpControlSeña type="password" [(ngModel)]="usuario.clave" required="true"
          placeholder="Mayor a 6 caracteres"></ion-input>
      </ion-item>
    </div>

    <div class="div-label">
      <ion-item lines="inset">
        <ion-label color="azulneon" position="stacked">Confirmar seña</ion-label>
        <ion-input type="password" [(ngModel)]="controlClave" required="true"></ion-input>
      </ion-item>
    </div>

    <div class="div">
      <div class="div-boton">
        <ion-button color="azulneon" id="btn-registrar" class="boton-azul" (click)="signup()" type="reset">Registrar
        </ion-button>
      </div>

      <a class="lbl-mensaje" href="/login">¿Ya tienes un usuario?</a>

      <!--<a class="lbl-mensaje" color="verde-neon" id="lbl-negocio" href="/perfil-empresa">Registra tu lavandería</a>-->
    </div>
  </div>
</ion-content>
